* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #555;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.left-column {
  flex: 70%;
  padding: 20px;
}

.right-column {
  flex: 30%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.fake-img {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 18px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .left-column, .right-column {
    flex: 100%;
  }
}
