body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ececec;
}

.header {
    text-align: center;
    background-color: #ddd;
    padding: 20px 0;
}

.header h2 {
    margin: 0;
    font-size: 24px;
}

/* NAVBAR */
.navbar {
    background-color: #333;
    overflow: hidden;
    padding-left: 10px;
}

.navbar a {
    float: left;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #575757;
}

/* CONTENIDO */
.content {
    padding: 20px 40px;
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    margin-bottom: 10px;
    font-size: 22px;
}

